---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'p'>['data'];

const { slug } = Astro.params;
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

const schema = JSON.stringify({
    '@context': 'https://schema.org/',
    '@type': 'BlogPosting',
    '@id': 'https://luc.blog/p/' + slug,
    headline: title,
    name: title,
    description: description,
    datePublished: `${pubDate.getUTCFullYear()}-${
        pubDate.getUTCMonth() + 1
    }-${pubDate.getUTCDate()}`,
    dateModified: updatedDate
        ? `${updatedDate.getUTCFullYear()}-${
              updatedDate.getUTCMonth() + 1
          }-${updatedDate.getUTCDate()}`
        : undefined,
    author: {
        '@type': 'Person',
        '@id': 'https://luc.bio/',
        name: 'Luc van Kampen',
        url: 'https://luc.page/',
        // image: {
        //     '@type': 'ImageObject',
        //     '@id': 'https://secure.gravatar.com/avatar/bbdd78abba6116d6f5bfa2c992de6592?s=96&d=mm&r=g',
        //     url: 'https://secure.gravatar.com/avatar/bbdd78abba6116d6f5bfa2c992de6592?s=96&d=mm&r=g',
        //     height: '96',
        //     width: '96',
        // },
    },
    // publisher: {
    //     '@type': 'Organization',
    //     '@id': 'https://dataliberate.com',
    //     name: 'Data Liberate',
    //     logo: {
    //         '@type': 'ImageObject',
    //         '@id': 'https://dataliberate.com/wp-content/uploads/2011/12/Data_Liberate_Logo-200.png',
    //         url: 'https://dataliberate.com/wp-content/uploads/2011/12/Data_Liberate_Logo-200.png',
    //         width: '600',
    //         height: '60',
    //     },
    // },
    // image: {
    //     '@type': 'ImageObject',
    //     '@id': 'https://dataliberate.com/wp-content/uploads/2019/05/Metadata_Evolution_the_Final_Mile.jpg',
    //     url: 'https://dataliberate.com/wp-content/uploads/2019/05/Metadata_Evolution_the_Final_Mile.jpg',
    //     height: '362',
    //     width: '388',
    // },
    url: 'https://luc.blog/p/' + slug,
    isPartOf: {
        '@type': 'Blog',
        '@id': 'https://luc.blog/',
        name: 'luc.blog',
    },
    // about: [
    //     {
    //         '@type': 'Thing',
    //         '@id': 'https://dataliberate.com/category/bibframe/',
    //         name: 'Bibframe',
    //         sameAs: [
    //             'https://en.wikipedia.org/wiki/BIBFRAME',
    //             'http://www.wikidata.org/entity/Q17050075',
    //         ],
    //     },
    //     'Data Liberate',
    //     {
    //         '@type': 'Thing',
    //         '@id': 'https://dataliberate.com/category/knowledge-graph/',
    //         name: 'Knowledge Graph',
    //         sameAs: [
    //             'https://en.wikipedia.org/wiki/Knowledge_Graph',
    //             'http://www.wikidata.org/entity/Q648625',
    //         ],
    //     },
    //     {
    //         '@type': 'Thing',
    //         '@id': 'https://dataliberate.com/category/libraries/',
    //         name: 'Libraries',
    //         sameAs: [
    //             'https://en.wikipedia.org/wiki/Library',
    //             'http://www.wikidata.org/entity/Q7075',
    //         ],
    //     },
    //     {
    //         '@type': 'Thing',
    //         '@id': 'https://dataliberate.com/category/schema-org/',
    //         name: 'schema.org',
    //         sameAs: [
    //             'https://en.wikipedia.org/wiki/Schema.org',
    //             'http://www.wikidata.org/entity/Q3475322',
    //         ],
    //     },
    //     {
    //         '@type': 'Thing',
    //         '@id': 'https://dataliberate.com/category/structured-data/',
    //         name: 'Structured Data',
    //         sameAs: [
    //             'https://en.wikipedia.org/wiki/Data_model',
    //             'http://www.wikidata.org/entity/Q26813700',
    //         ],
    //     },
    // ],
    // wordCount: '488',
    // keywords: ['Bibframe2Schema.org', 'Libraries', 'Library of Congress'],
});
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <script type="application/ld+json" set:html={schema} />
    </head>

    <body class="ww">
        <Header />
        <main>
            <article>
                {
                    heroImage && (
                        <img
                            width={720}
                            height={360}
                            src={heroImage}
                            alt=""
                            class="rounded-2xl"
                        />
                    )
                }
                <h1 class="title">{title}</h1>
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
                <hr />
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
