---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'p'>['data'];

const { slug } = Astro.params;
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

const schema = JSON.stringify({
    '@context': 'https://schema.org/',
    '@type': 'Article',
    '@id': 'https://luc.blog/p/' + slug,
    mainEntityOfPage: 'https://luc.blog/p/' + slug,
    headline: title,
    name: title,
    description: description,
    url: 'https://luc.blog/p/' + slug,
    datePublished: `${pubDate.getUTCFullYear()}-${
        pubDate.getUTCMonth() + 1
    }-${pubDate.getUTCDate()}`,
    dateModified: updatedDate
        ? `${updatedDate.getUTCFullYear()}-${
              updatedDate.getUTCMonth() + 1
          }-${updatedDate.getUTCDate()}`
        : undefined,
    author: {
        '@type': 'Person',
        '@id': 'https://luc.bio/',
        name: 'Luc van Kampen',
        url: 'https://luc.page/',
    },
    publisher: {
        '@type': 'Organization',
        name: 'V3X Labs',
        // "logo": {
        //   "@type": "ImageObject",
        //   "url": "https://www.v3x.zone/logo.jpg",
        //   "width": 600,
        //   "height": 60
        // }
    },
});
---

<html lang="en">
    <head>
        <script type="application/ld+json" set:html={schema} />
        <BaseHead title={title} description={description} />
    </head>

    <body class="ww">
        <Header />
        <main>
            <article>
                {
                    heroImage && (
                        <img
                            width={720}
                            height={360}
                            src={heroImage}
                            alt=""
                            class="rounded-2xl"
                        />
                    )
                }
                <h1 class="title">{title}</h1>
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
                <hr />
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
